@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #233F3F;
    height: 100vh;
    font-family: "Inter", sans-serif;
}

.container{
    width: 80%;
    height: 90%;
    background-color: #F6F6F6;
    display: flex;
}

.left{
    background-color: #63cf8d;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.right{
    background-color: #E3DAD1;
    flex: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.right .info-contact{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.right .messages{
    width: 100%;
    flex: 10;
}

.infos{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.avatar{
    background-color: gray;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infos-text{
    display: flex;
    flex-direction: column;
}

.infos .name{
    margin-left: 0.5rem;
    font-size: 0.8rem;
    font-weight: 600;
}

.infos .phone{
    margin-left: 0.5rem;
    font-size: 0.5rem;
    font-weight: 400;
}

.buttons{
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    align-items: center;
}

.buttons .button{
    padding: 0.5rem;
}

.buttons .button:hover i{
    border: 1px solid #E3DAD1;
    padding: 0.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.text{
    height: 85%;
}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

input{
    width: 90%;
    padding: 1rem 0.5rem;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 1rem 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #777;
    background-color: #efebe8;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.input i{
    cursor: pointer;
    transition: 0.2s;
}

.input i:hover{
    cursor: pointer;
    transform: scale(1.3);
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1;
}

ul{
    flex: 10;
}

li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid #E3DAD1;
    transition: 0.2s;
}

.active, li:hover{
    background-color: #E3DAD1;
    color: #018433;
    cursor: pointer;
}

.meta{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time{
    font-size: 0.6rem;
    font-weight: 600;
}

.status{
    font-size: 0.6rem;
    font-weight: 400;
    background-color: #018433;
    color: #E3DAD1;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.discussion{
    display: flex;
    align-items: center;
}


.discussion .name{
    margin-left: 0.5rem;
    font-size: 0.8rem;
    font-weight: 600;
}

.discussion .message{
    margin-left: 0.5rem;
    font-size: 0.5rem;
    font-weight: 400;
}